[2018-03-03 21:34] Michionlion opened #1 "Define configuration file format"
We need to define a file format for the configuration file. It should allow tree-like editing, so that something like the below is possible:

[code]

This example is quite verbose, so we should attempt to find alternatives that allow for the same specificity and flexibility without the extra lines and nesting. Our goal should be to minimize length and complexity, and maximize comprehensibility and

[2018-03-03 21:48] Michionlion opened #2 "Parse configuration file"
We need to parse the configuration file to a `GatorGradleConfig` object. This issue will depend on defining the file format for the configuration file. While creating commands from the configuration file, we will need to know two things: the executable, and the parameters. If the configuration format and parsing is done correctly, arbitrary programs should be specifiable in the config file.

Addit

[2018-03-03 21:59] Michionlion opened #3 "Commands/checks output summary"
We need to summarize the success/failure of commands run, with special handling for GatorGrader and perhaps other managed dependencies. There are two main subtasks for this issue: first, we must get the output from each command run. This must be done statically since the Gradle Worker API must serialize anything non-static, and Gradle's `Logger` cannot be serialized. Then, this output must be pars

[2018-04-06 20:33] #3 closed, assigned to nobody

[2018-08-23 19:56] Michionlion commented on #1
This has been completed with the most recent version of GatorGradle

[2018-08-23 19:56] #1 closed, assigned to nobody

[2018-08-23 19:57] Michionlion commented on #2
This specific parsing has been completed, however there are further opputunities for enhancements. If any ideas come to mind, please comment here or (preferably) create a new issue.

[2018-08-23 19:57] #2 closed, assigned to nobody

[2018-08-25 15:47] gkapfham opened #7 "Update documentation to improve and remove references to issues"
Currently the documentation in the `README.md` file contains references to issues that are no longer open. Moreover, since these issues are now resolved, it is possible to give full examples of the output produced by GatorGradle when used, for instance, with the sample lab. Overall, there are some small tweaks to the documentation that would make it easier for readers to understand what the tool d

[2018-08-25 15:53] gkapfham opened #8 "Add documentation for the "--json" option"
Now that the GatorGrader supports the `--json` flag, the documentation for GatorGradle should be updated to reflect this feature. For instance, the example configuration file could show the `--json` flag in use. Also, the documentation should explain the benefits, if there are any obvious benefits to document, of this flag.

[2018-08-25 15:58] gkapfham opened #9 "Do not indent the word "FAILURES" in the summary output"
I think that it might look better to not indent the word "FAILURE" since none of the other output on the screen is indented at exactly this level. Perhaps we could keep this word justified to the left and then leave the indenting only for the summary score at the bottom of the screen?

[2018-08-25 16:02] gkapfham opened #10 "Avoid the use of a wildcard (i.e., *) imports in Java code"
There are some Java classes, such as `CommandOutputSummary.java`, that contain wildcard imports. My preference would be to eliminate this type of import and instead explicitly import those Java classes that are under use. If there is a case when, for instance, all of the Java classes in a package are in use, then I would still prefer to import them all explicitly at the top of the file. Finally, w

[2018-08-25 16:12] gkapfham opened #11 "Support deterministic ordering of check output for parallel checks"
Currently, this plugin will produce a non-deterministic ordering of the output when `gradle grade` is run for an assignment. My understanding is that this is due to the fact that the specified checks are run in parallel to to reduce the overall execution time of the tool. While I think that it is a really good idea to decrease response time, I anticipate that students would prefer to see all of th

[2018-08-26 15:27] Michionlion commented on #8
Right now GatorGradle actually adds the `--json` flag automatically, but when I update the documentation I will be sure to mention it somewhere. The user should not need to worry about whether to include it or not.

[2018-08-26 15:30] Michionlion commented on #10
The checkstyle configuration for the gradle build has some specific exceptions for certain rules -- I'll look into making these line up with a standard convention such as Google's. I agree that star imports should be refactored.

[2018-08-26 15:32] Michionlion commented on #11
It is certainly possible to order the checks, but for long-running checks it will result in no output bring shown -- I would prefer to do that rather than show both the in progress (to get immediate feedback) and ordered, buffered checks. If I recall correctly, checks already have an ordering mechanism which can be used. I'm not sure about this though, I will have to give it a bit more thought whe

[2018-08-27 11:54] gkapfham commented on #11
It is okay if you cannot resolve this on Monday. I wonder if one way to ensure the ordering of constraints is to pass in an identifier that the tool will then return back in the JSON. Otherwise, for instance, you might be able to record the timestamp at which you start a GatorGrader process and then use that data point to support the ordering of the checks. With that said, yes, I agree with your p

[2018-08-27 11:56] gkapfham commented on #10
Great, thanks for looking into this issue @Michionlion. I should also note that there are a few classes for which my linter is complaining about indentation --- and then others in which I do not see this issue even though the indentation looks the same. Perhaps sometime later this week we can meet and discuss the coding style guide for this plugin. Again, thanks for your work on this --- it is rea

[2018-08-27 11:57] gkapfham commented on #8
Cool, I think that we are up and running with this issue. I tested the `--json` flag with the sample lab and it seemed to work correctly in all of my manual tests. We can talk later about the testing strategy that I adopted in conjunction with using Pytest.

[2018-08-28 01:00] Michionlion commented on #10
Okay, I've changed everything to conform to the default google_checks.xml available from the checkstyle repository ([here](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml)). This should standardize everything! If there is still a problem with formatting, please reopen this issue or create a new one. (Or talk in person :) )

[2018-08-28 01:00] #10 closed, assigned to nobody

[2018-08-28 01:01] Michionlion commented on #9
This has been changed, although the `-~-` bracketing the word were not removed. I'm unsure if there's a better way to do this, but it does look better without indentation!

[2018-08-28 01:01] #9 closed, assigned to nobody

[2018-08-28 01:01] #8 closed, assigned to nobody

[2018-08-28 01:01] Michionlion commented on #7
I've updated documentation to provide better explanations, remove outdated text, and show some sample output.

[2018-08-28 01:01] #7 closed, assigned to nobody

[2018-08-28 13:52] Michionlion opened #12 "Potential problem: ensurepip fails on Alden computers"
`ensurepip` is disabled on alden computers, need a check/workaround if `ensurepip` fails but pip is already installed.  As a workaround for grading to work, install GatorGrader manually by running:

[code]

[2018-09-04 02:28] Michionlion commented on #12
This has been fixed with PR #13.

[2018-09-04 02:28] #12 closed, assigned to nobody

[2018-09-04 02:29] Michionlion opened #14 "Better document the installation and behavior of plugin"
Additional documentation on basic use of GatorGradle as well as its installation process should be added. Perhaps additionally a tutorial on creating a basic assignment should be created as well.

[2018-09-04 02:39] Michionlion opened #15 "Automate releases"
Releases should automatically be made when a commit is tagged as such. The sequence would go:

- Increment to the correct new version (major/minor/patch increment).
- Publish new java documentation with `gradle publishJavadocs`.
- Publish new jar with `gradle publishPlugins`.

This would require that the automated system grant gradle access to the key and secret associated with the [Gradle Plugin

[2018-09-04 12:54] gkapfham opened #16 "Error message in output even though Gradle plugin seems to work correctly"
I am running this plugin with the following configuration:

[code]

I see this error output:

[code]

It seems as though the checks are working as I expected. However, I anticipate that this error message may be confusing for the students who read it. Can you please clarify what is happening here, @Michionlion? Is there a way to avoid seeing this error message if everything is, in fact, okay? Or,

[2018-09-04 13:02] gkapfham opened #17 "Commands Produce Unparseable JSON Output"
I have to go quickly because I am running to a meeting, sorry for the brevity. I get this error message when I try to check the commits or execution of a program, for instance:

[code]

[code]

Here is the full configuration file to produce these errors:

[code]

Can you help to debug this? Is GatorGrader producing the wrong output? Please let me know!

[2018-09-04 14:29] gkapfham commented on #17
Hello @Michionlion, I should note that the error message related to the checking of Git commit counts is one that I am going to classify as a bug for GatorGrader and not GatorGradle. I was testing to see if a check on Git commits would work when there was not a Git repository and, in fact, this does not work.
I will leave this issue open because I am still not sure how to handle a `gradle run`. Bu

[2018-09-04 14:35] gkapfham commented on #17
One additional debugging note, @Michionlion: I think that there is a problem with using `--executes` and it not producing the correct JSON output. If I try to count the lines in the output, this seems to work correctly. So, it seems that there is a bug in either `--executes` in GatorGrader or in the way that the plugin interprets the output of the command. I will investigate more and report back w

[2018-09-04 14:38] gkapfham commented on #16
Hi @Michionlion, I can also confirm that I seem to only see this error when the Gradle plugin is run in a directory that is not a Git repository. If I run this on the sample lab (which is from GitHub) or on a laboratory assignment that is not a Git repository yet, this error will appear. Right now, I am not sure if this is a problem with the plugin or not. But, we should investigate further as tim

[2018-09-04 15:15] Michionlion commented on #16
This issue is actually a bug - the working directory is not set for the command run during dependency management. It is an easy fix however, and should not effect every day use.

[2018-09-04 15:32] gkapfham commented on #16
Great, thanks for confirming this issue @Michionlion. I don't think that this is a pressing issue for today. When time permits in the near future, let's work together to fix this bug.

[2018-09-04 16:20] Michionlion commented on #17
The bug for `--executes` is also a GatorGrader bug -- the output produced is an error trace!

[code]

Notably, without the `--json` flag the error is different:

[code]

I will create an issue for both of these in the GatorGrader repository.

[2018-09-05 16:00] gkapfham opened #19 "Inconsistency in the phrasing of diagnostic messages in the output"
Currently, the Gradle plugin and the GatorGrader program produce diagnostic output that is slightly different. For instance, consider this output:

[code]

When the Gradle plugin runs a check with `mdl` it does not pass this through GatorGrader and rather runs the check on its own. However, the Gradle plugin using the phrase "The file" and the GatorGrader program simply writes "The ..." and gives

[2018-09-05 17:01] Michionlion commented on #19
If we wanted to use the "entity in directory" format, we would have to parse the file path ourselves. It would certainly be possible, and should be something on our todo list!

[2018-09-10 20:11] gkapfham opened #20 "Plugin does not produce a task with a description"
When I run a command like `gradle tasks --all` it produces the following output:

[code]

Note that it seems as though the Gradle plugin does not offer a description property. Is there a way in which you can add this feature to the plugin? This will help people to understand what the plugin actually does. Please let me know if you have any questions about this feature request. Thanks!

[2018-09-11 01:17] Michionlion commented on #20
This is certainly possible, and likely a simple API call. A good first issue!

[2018-10-02 22:43] Michionlion opened #21 "GatorGradle does not correctly call Python on Windows"
On windows, the call to python uses a hardcoded `/bin/python` path, however it should be `\Scripts\python.exe`. This can be easily fixed in [DependencyManager.java](https://github.com/GatorEducator/gatorgradle/blob/master/src/main/java/org/gatorgradle/internal/DependencyManager.java#L38). One can use `GatorGradlePlugin.OS.equals(GatorGradlePlugin.WINDOWS)` to test if the current OS is Windows.

[2018-10-02 22:44] Michionlion opened #22 "README dependency documentation is incorrect"
Pipenv is *not* installed automatically, in fact nothing except GatorGrader is. The readme should be updated with this fact.

[2018-10-02 22:49] Michionlion opened #23 "Investigate use of use-python plugin"
If the [use-python](https://github.com/xvik/gradle-use-python-plugin) plugin could be used in conjunction (or could be extended) with GatorGradle, dependency management for Pipenv and proselint, along with any other `pip` installed program, could be greatly simplified. Some research should be done in this area to determine feasibility.

[2018-10-02 22:53] Michionlion commented on #17
I'm closing this as I think the root issues have been resolved or are being resolved in a different place.

[2018-10-02 22:53] #17 closed, assigned to Michionlion

[2018-10-04 15:06] #22 closed, assigned to nobody

[2018-10-18 15:25] ilikerustoo opened #26 "Link in README does not work"
The link to the sample lab :
"https://github.com/GatorEducator/gatorgrader-samplelab"

does not direct me anywhere (github 404).

[2018-10-18 21:02] #21 closed, assigned to nobody

[2018-10-19 20:08] Michionlion opened #27 "Support HEREDOCS or equivalent for multi-line values in config"
There may also need to be some updates to GatorGrader to support multi-line fragment checking, if it does not already work.

[2018-10-22 16:15] gkapfham commented on #27
Hi @Michionlion, would this involve a multiple-line command-line argument? Can you please give me an example of what GatorGrader would need to support? Thanks!

[2018-10-22 19:54] Michionlion commented on #27
Yes, this would be a multiple-line command-line argument, which the shell should be able to handle, but may need testing. Essentially, a fragment would need to be able to include the newline character.

[2018-11-21 22:15] gkapfham commented on #16
I think that this bug is resolved, right @Michionlion? Can we close this issue?

[2018-11-21 22:21] gkapfham opened #28 "Document and/or extend ability to add command-line tools"
I know that this Gradle plugin currently makes it possible to use commands like `mdl` through a GatorGrader configuration file. Since I plan to add new command-line tools to those that are currently used to check source code and technical writing, it would be useful if there was some documentation that explained how to add a new integration to the plugin. Is there a way that you can add these step

[2018-11-22 01:35] Michionlion commented on #16
I think that is correct, but I will make sure.

[2019-01-02 16:30] schultzh opened #29 "Gradle plugin does not correctly pull or update GatorGrader"
When attempting to use gradle grade on assignments, I continually get an error saying `gator grader does not exist.` However, the program is installed on my laptop. I feel that this means the program will not pull gradle grade to run it in terminal.

[2019-01-02 19:51] gkapfham commented on #29
Hello @schultzh, thanks for reporting this critical issue! Could I trouble you to include more details about your development laptop, including the operating system and version of Gradle and Java? Also, when the Gradle plugin installs GatorGrader, it is normally placed in the `.local/share/gatorgrader` directory. Can you please tell us what you see  in that directory? Following that point, you may

[2019-01-02 20:01] gkapfham commented on #14
Hi @Michionlion, I also think that it would be useful if the documentation explained the directory in which the plugin installed the global version of GatorGrader. Could you please make a complete list of all of the new documentation that you would like to see in the README file?

[2019-01-02 20:03] gkapfham commented on #26
Hello @ilikerustoo, thanks for raising this issue! Although it is not directly connected to the issue, I was also wondering if you would be willing to create a sample repository for a LaTeX document like the senior thesis proposal? If you have time to work on this in the next two weeks, that would be great. If you are interested but your schedule is tightly constrained right now, we could also wai

[2019-01-02 20:04] gkapfham commented on #29
Hello @schultzh and @Michionlion, I have transferred this issue to this repository since it is most likely an issue with the Gradle plugin and not the GatorGrader program itself. Do you both agree?

[2019-01-02 20:23] gkapfham commented on #16
Hello @Michionlion, can you please confirm that this issue is now resolved? If it is, then I think that it would be a good idea to close this issue, right?

[2019-01-02 22:15] Michionlion commented on #16
Yes, it would. The issue was resolved in commit bc2243e4f9716e120a82398fc622bef2a17e914f, by using whatever branch was already checked out, enabling debugging.

[2019-01-02 22:15] #16 closed, assigned to Michionlion

[2019-01-02 22:18] Michionlion commented on #29
I agree. It would be helpful to have the full log, @schultzh, as well. This is likely a human error at some point -- perhaps a typo somewhere.

[2019-01-03 03:23] gkapfham opened #33 "Support serverless collection of data about executed checks"
Right now GatorGrader does not have a feature that will track information about which checks pass and fail across multiple runs. This means that it is very difficult to see patterns about the checks across all of the students in all of the courses for which GatorGrader is in use.

One idea would be to adopt a serverless approach where a Python function is installed on Amazon. This function could s

[2019-01-03 04:00] gkapfham commented on #16
Great, thanks for checking @Michionlion and then closing this issue.

[2019-01-03 04:02] gkapfham commented on #29
Hi @schultzh, I should clarify @Michionlion's comment: even if this is some issue with the way in which something is configured on your laptop (which it may or may not be), it would be great to learn more details from you. This is particularly important because other people who use the GatorGrader tool and its Gradle plugin may also do the same thing that you have done and once we know the issue w

[2019-01-03 15:50] schultzh commented on #29
@gkapfham
yes this occurs with all of my assignments now, but it did not occur up until lab 7

version for gatorgrader in my ```.local/share/virtualenvs file gatorgrader-7UYporlp```

MacBook Air macOS 10.14

[2019-01-03 15:51] schultzh commented on #29
@gkapfham
could you please advise me on how to delete the directory?

[2019-01-03 22:36] Michionlion commented on #29
You can run this command: `rm -rf ~/.local/share/gatorgrader`

[2019-01-03 23:22] gkapfham commented on #29
So, @schultzh, please let us know what happens once you delete the `gatorgrader` directory and then try the process again. Thanks for investigating this further!

[2019-01-07 17:36] schultzh commented on #29
I deleted the directory and reinstalled gatorgrader in the .local file. The same error still occurs: ```gatorgrader not installed```

[2019-01-07 21:21] Michionlion commented on #29
Hi @schultzh, can you please delete the `~/.local/share/gatorgrader` folder again, and run `gradle grade` on a project, and then post the output visible in the terminal?

Also, just to confirm, you are running this on a Linux computer right?

[2019-01-08 23:47] schultzh commented on #29
[code]

[2019-01-08 23:49] schultzh commented on #29
@Michionlion No, this is on my Macbook which does not use Linux software.

[2019-01-09 13:34] Michionlion commented on #29
Hmm. Looks like this is actually a problem with python or pipenv. Specifically a module called `module`. Likely it can be resolved with an update and reinstall of python and pipenv. Can you run `pyenv install 3.7.2` and then `pyenv global 3.7.2`. You'll also need to make sure you installed pipenv with Homebrew.

Before you try running `gradle grade` make sure you restart your terminal window.

Not

[2019-01-14 14:35] Michionlion commented on #29
@schultzh Did reinstalling fix the problem? If not, could you post the results from `gradle grade` again now, after reinstalling?

[2019-01-14 19:37] schultzh commented on #29
@Michionlion Where does pipenv need to be installed? .local?

[2019-01-14 22:57] Michionlion commented on #29
There is no location required -- you take a look at the documentation in the [pipenv repository](https://github.com/pypa/pipenv), but if you have [homebrew](https://brew.sh/) installed, you can just run `brew install pipenv`. You'll need to run `brew update` first. If you are still having troubles with this, feel free to come into my office hours this Friday (starting at 12:30) and we can work on

[2019-01-14 23:52] schultzh commented on #29
Okay! I'll work on it further tonight and keep you updated. Thank you!

[2019-01-15 20:42] schultzh commented on #29
after having to download xcode command line tools, this is the error I'm running into:

[code]

[2019-01-15 20:44] Michionlion commented on #29
You should run the installation with `sudo` -- i.e. `sudo brew install pipenv`. This gives `homebrew` administrator privileges.

[2019-01-15 22:44] schultzh commented on #29
[code]

[2019-01-15 22:53] Michionlion commented on #29
hmm, it may be the case then that there is no actual problem.

To make sure, first run `brew uninstall --force pipenv`. Then exit the terminal, and start a new one. Then, run `brew update` followed by `brew install pipenv`. If that still reports errors ("Permission denied", etc.), post that. If not, try `gradle grade` again.

[2019-01-15 22:58] schultzh commented on #29
after running those commands and trying ```gradle grade``` again I am still recieving this error:
[code]

[2019-01-15 23:51] Michionlion commented on #29
I'm not sure what's going on but it looks like you didn't change the python version - it's still trying to look for things in 3.6.3. I think the easiest thing at this point is to come in to a lab session or my office hours. I'm not sure what the problem is but we can figure it out faster together.

[2019-01-17 19:15] Michionlion commented on #33
We should additionally have a discussion on how this should integrate with GatorGradle. It may perhaps be better to transfer this issue to that repository, or design a communication between them for collation of check results.

[2019-01-17 19:57] schultzh commented on #29
Okay. I am not available during your office hours, but let me know what lab sessions work for you.
My CS labs are Mondays 2:30 - 4:30.

[2019-01-17 20:10] Michionlion commented on #29
@schultzh We can meet before (preferably) or after your next lab, Monday the 21st, if that works for you.

[2019-01-17 21:12] Michionlion opened #30 "Clone GatorGrader repository from specified tag/version"
Perhaps using a tag with the format `v0.1.2` (`vmajor.minor.patch`) to specify a version would work.
The version to use would be specified in the configuration header.
If no version is specified, the latest `master` would be used.

GatorGrader support for this release type is tracked in [issue #85](https://github.com/GatorEducator/gatorgrader/issues/85) in the GatorGrader repository.

[2019-01-19 17:04] schultzh commented on #29
@Michionlion I will not have lab on Monday due to it being MLK day.

[2019-01-19 18:09] Michionlion commented on #29
Okay, I forgot about that. Why don't you email me the times you're in Alden, and we can find a time that works? (mahlauheinerts@allegheny.edu)

[2019-01-24 20:55] gkapfham commented on #29
Hi @schultzh and @Michionlion, is it possible for you both to schedule a meeting with me during my office hours? We could work together for 15-30 minutes sometime in the following week and then try to better understand the problem and see if we need to develop a solution. We can then continue the conversation here, as appropriate. Thanks for continuing to work on this issue!

[2019-01-24 21:07] gkapfham commented on #33
Agreed, @Michionlion, this is a tricky feature to implement. Please let me know how you would like to proceed!

[2019-01-24 23:37] Michionlion commented on #29
@gkapfham, Hannah and I actually solved the issue already. It was related to the fact that `zlib` does not install properly through `homebrew` on macOS Mojave, thus making the python build executed by `pyenv` fail, and cascading the errors throughout the entire process. The solution is to install zlib using some macOS specific commands, as detailed in [issue #1219](https://github.com/pyenv/pyenv/i

[2019-01-24 23:37] #29 closed, assigned to Michionlion

[2019-01-29 22:01] Michionlion commented on #33
I've transferred this issue to the GatorGradle repository for now, where we can figure out what this implementation should look like.

[2019-01-30 16:19] gkapfham opened #34 "Fix the semantic version of the plugin given in documentationn"
The documentation currently states the wrong semantic version number for the plugin. In fact, it uses a "beta" number that is no longer common for the deployments of the plugin. Can we please update this number?

[2019-02-01 00:44] #34 closed, assigned to nobody

[2019-02-01 01:58] #26 closed, assigned to gkapfham, Michionlion

[2019-02-05 17:48] gkapfham commented on #33
Thanks @Michionlion, I think that in the short term we might be able to delay the implementation of this feature.

[2019-02-07 19:23] leonardoz15 opened #38 "Implementing ChkTeX for linting LaTeX documents"
While the built in LaTeX checker does a good job, I think it would be beneficial to implement a linting tool before running any defined checks on the document. As an option I recommend the tool [ChkTex](http://www.nongnu.org/chktex/) which includes more semantic features than the default LaTeX checker. This would be an extremely easy way to keep all the LaTeX code stylistically uniform.

[2019-02-08 21:27] gkapfham commented on #38
This is a good idea @leonardoz15! You need to make sure that you coordinate with @Michionlion because the GatorGradle plugin does not currently recognize this command in the configuration files. Right now it does recognize, for instance, `mdl` and `proselint`. But, this tool needs to be added. There are issues on the GatorGradle issue tracker about making this process more user configurable. @Mich

[2019-02-11 03:27] Lancasterwu opened #40 "Installation on WSL Failed with the Warning of Illegal Access"
I was using WSL(Windows Subsystem for Linux) to install gradle and trying to run `gradle grade`. The build failed with the following error:
[code]
I'm wondering if I did something improperly or it is a bug with the installation of gatorgrader on WSL.
Thanks!

[2019-02-11 05:03] Michionlion commented on #38
It should be in the GatorGradle repository, as code changes are required to accommodate this. I've transferred the issue!

[2019-02-11 15:06] gkapfham opened #39 "Warning: Nashorn engine is planned to be removed from a future JDK release"
It seems likely that the Gradle plugin for GatorGrader uses (directly or indirectly) the Nashorn engine. This leads to the warning message given in the title of this issue. Do you know what code in the Gradle plugin uses Nashorn? Is there a way to stop using Nashorn and adopt an alternative instead?

References:

https://github.com/junit-team/junit5/issues/1481
https://openjdk.java.net/jeps/335
ht

[2019-02-11 15:22] gkapfham commented on #40
Hello @Michionlion, I think that this is actually an issue with the Gradle plugin, right? If so, I suggest that we transfer it to the appropriate repository. Let me know, thanks!

[2019-02-11 15:34] gkapfham commented on #39
Hi @Michionlion, I see that it is in `CheckResult.java`. It looks like we can instead use graal.vm, right?

[2019-02-11 18:22] Michionlion commented on #39
I can look into this, yes! All that is needed is parsing the JSON.

[2019-02-11 18:24] Michionlion commented on #40
Yes this is probably a problem with GatorGradle. I'm not sure what though, there's no reflective access to `java.lang.ClassLoader.getPackages()` anywhere in our code. Perhaps update Gradle to `5.0` first and try again? These kind of errors are often related to version conflicts.

I've also transferred the issue.

[2019-02-11 20:43] gkapfham commented on #39
Hi @Michionlion, I'm wondering if we can use the fixing of this bug to illustrate how the "deploy" steps of the Gradle plugin work? I think that I could probably fix the bug myself &mdash; but I'm not sure if I could successfully deploy the plugin so that the newest version is available and in use! :wink:

[2019-02-11 20:45] gkapfham commented on #40
Thanks for the transfer @Michionlion. Also, @Lancasterwu can you please upgrade your version of Gradle and report back as to what you found? It seems that this may not be related to our plugin but rather to Gradle itself. Let us know what you  find!

[2019-02-11 23:35] Michionlion commented on #39
Hi @gkapfham, that sounds like a good plan! As a side note, this can be added to the gradle parameters to suppress the warning: `-Dnashorn.args="--no-deprecation-warning"`.

[2019-02-11 23:44] Michionlion commented on #39
Quick update: to disable this for a gradle project, add the following to `gradle.properties`.

[code]

[2019-02-11 23:54] Michionlion commented on #39
Sorry for the spam, but I've just learned one more critical piece: we can use the `ScriptEngineManager` to select at runtime the script engine to use, so that for versions older than 11 we can use `Nashorn`, and for version greater than or equal to 11 we can use `graal.vm`.

[2019-02-14 14:00] gkapfham commented on #39
Hi @Michionlion, as a reminder:

- We need to update the "starter repos" with the line that you suggested.
- We need to investigate whether or not using GraalVM is backwards compatible to older versions of Java.

[2019-02-14 14:32] Michionlion commented on #39
So, to your second question, I think I have the answer. First, GraalVM is only available in Java 11 and later. However, using a scripting API in Java, we can choose between Nashorn and GraalVM at runtime.

[2019-02-15 12:42] gkapfham commented on #39
Hello @Michionlion, I'm not sure that the suggestion of `systemProp.nashorn.args=--no-deprecation-warning` works correctly on my machine with this version of Gradle:

[code]

and this version of Java:

[code]

In this case you *do not* get any formatted output when you run commands like `gradle grade`.

This means that you see a lot of messages like this one:

[code]

I should point out that we ar

[2019-02-15 12:43] gkapfham commented on #39
@Michionlion to your other point: it seems that we would have to take into account the version of Java through the scripting library and then pick the correct JSON parser from there. How hard is it, do you estimate, to implement this type of feature?

[2019-02-15 14:32] Michionlion commented on #39
Hmm, certainly seems an oversight to have a system property like that disable Nashorn in Java 8 but for it to work correctly in Java 11. As to your second question, @gkapfham, I haven't done too much research. It seems from the blog posts discussing this issue, it shouldn't be too much work to get this added.

[2019-02-19 13:58] gkapfham commented on #39
I am writing to confirm that using the system property does disable the use of Nashorn for parsing the JSON when you run the tool under Java 1.8 or 1.9. This means that we probably need to develop a new solution. Will this have to check for the JVM version and then use Nashorn or the GraalVM, @Michionlion?

[2019-02-19 13:59] gkapfham commented on #39
fdfd

[2019-02-20 20:59] Michionlion opened #41 "Proposed gradle task for file generation"
A new task for Gradle should be added that generates the following:

* A language-generic `.travis.yml` that runs `gradle grade`, with comments linking to Travis CI documentation for different languages.
* A valid `gatorgrader.yml` that configures existence checks for current source sets, with comments linking to check documentation for additional configuration.

This task should be run with a sim

[2019-03-29 03:04] Alex-Yarkosky opened #42 "No CONTRIBUTING.md or CODE_OF_CONDUCT.md"
In order to improve the state of this project as an open source one, these proposed files should be included to make it easier to contribute in a productive way in accordance with the need outlined [here](https://opensource.guide/). I suggest that the Code of Conduct be taken from [here](https://www.contributor-covenant.org/) to avoid having to create one from scratch. GitHub also has some suggest

[2019-03-29 03:05] Alex-Yarkosky opened #43 "No templates for raising issues or making pull requests"
Adding these templates should be considered in order to make it easier to contribute to this as an open source project and provide uniformity. The need for these are outlined [here](https://opensource.guide/). These files are also suggested on the [Community](https://github.com/GatorEducator/gatorgrader/community) page.

[2019-04-02 23:03] alexheinle opened #44 "Fix Gradle introduction to checks"
Fix grammar mistakes in the introduction of Grader Gradle.

"Managing GatorGrader python dependencies..."

[2019-04-02 23:36] Michionlion commented on #44
@alexheinle, this should probably go into the Gatorgradle repository.

[2019-04-02 23:59] Michionlion commented on #44
I've transferred this, but feel free to continue working on it if you feel the need. As a hint, [DependencyManager.java](https://github.com/GatorEducator/gatorgradle/blob/master/src/main/java/org/gatorgradle/internal/DependencyManager.java#L139) deals with a lot of those kind of print statements.

[2019-04-03 16:15] Michionlion opened #45 "GatorGrader uninstall task"
Create a task to delete the GatorGrader git repository.

[2019-04-12 22:16] Michionlion opened #46 "Fix branch checkout bug"
We should checkout to master before switching to ensure all revisions are valid.

[2019-04-16 01:46] schultzh opened #47 "missing common mark module"
I cannot currently use `gradle grade` effectively on my personal laptop. I am receiving the following errors:

[code]

This error repeats for each check within the repository. I assume that it is something my laptop is missing, however, I wanted to bring it up and make sure.

[2019-04-16 03:19] Michionlion commented on #47
You need to either update the version of GatorGradle in your `build.gradle` to `0.3.3` or higher, or delete the `~/.local/share/gatorgrader` directory.

[2019-04-16 14:11] schultzh commented on #47
How would I update the ```build.gradle``` ?

[2019-04-16 15:59] Michionlion commented on #47
Find the line that specifies the version of GatorGradle -- look in the [documentation](https://github.com/GatorEducator/gatorgradle#including-gatorgradle-in-your-project) for more specifics -- and change it to `0.4.0`.

[2019-05-15 14:51] deedoubledub opened #48 "Gradle logging"
The gradle daemon outputs logs to `~/.gradle/daemon/\<version\>/*.out.log`. These logs quickly grow out of control to hundreds of megabytes or gigabytes in size. Please implement a procedure to suppress or cleanup these logs.

Upstream issue: https://github.com/gradle/gradle/issues/2688
Example cleanup: https://discuss.gradle.org/t/gradle-daemon-produces-a-lot-of-logs/9905

[2019-05-23 21:21] gkapfham commented on #47
I think that this issue has been resolved, @schultzh and @Michionlion. Are you okay with closing it now? The only take home point is that we need to ensure that people use new versions of our plugin, which, going forward, I anticipate will not be a major concern. Thanks!

[2019-05-23 21:23] gkapfham commented on #48
Thanks for raising this issue @deedoubledub. @Michionlion is it important to note that the example cleanup link provided suggests a solution involving the code that would go in the build file itself. This means that it is something that we would introduce to a build file for a sample assignment (or, as talked about a long time ago, something that GatorGrader knows how to generate). Do you know of

[2019-05-23 21:24] gkapfham commented on #46
Hi @Michionlion is this still a bug and can we work to resolve it by the end of the month?

[2019-05-23 21:25] gkapfham commented on #45
Hi @Michionlion, I think that this is a good idea. If I am understanding the idea correctly, it should be possible to implement this by reusing some of the code already in the plugin, right? Is this on your radar screen for completion by the end of this month?

[2019-05-23 21:42] gkapfham commented on #43
Hello @Alex-Yarkosky thanks for raising this issue. @Michionlion in the near future I will start to add some of the same templates that we use in GatorGrader for this project as well. Does that seem acceptable to you?

[2019-05-23 21:44] gkapfham commented on #14
Going forward, I would like to have simple documentation in the README that explains how to run the deploy commands for the plugin. I check the Gradle build file --- which is the rule that runs the deploy, @Michionlion? If you can give me some pointers on this issue then I will try to resolve it soon.

[2019-05-23 21:45] gkapfham commented on #39
Hi @Michionlion, I think that you fully solved this issue, right? Can we close it now?

[2019-05-23 21:52] gkapfham commented on #42
Hello @Alex-Yarkosky, thanks for raising this issue, which I will soon try to resolve. @Michionlion, for parts of this request I will again reuse some of the content that we have (or will soon have) on GatorGrader. Let me know if that is not acceptable, okay?

[2019-05-23 21:53] gkapfham commented on #38
Hi @Michionlion this might also be a good point to document in the README. Going forward, I can definitely imagine that we will need to add a wide variety of different tools that can be referenced in a GatorGrader configuration file. So, documenting how to extend the Gradle plugin would be useful.

[2019-05-23 21:54] gkapfham commented on #41
This is a good idea, @Michionlion. Do you think that this fits into the timeline for this summer? Or, were you planning to save this for later because it is an "icing on the cake" kind of task?

[2019-05-23 21:55] gkapfham commented on #33
I am writing to note that @Michionlion is now conducting a feasibility study for this feature. We have plans to move forward with its implementation, testing, and deployment. Thanks @Michionlion!

[2019-05-24 02:36] #47 closed, assigned to nobody

[2019-05-24 02:38] Michionlion commented on #38
This has actually already been implemented with the `executables` header; this does need to be added to the docs.

[2019-05-24 02:38] #38 closed, assigned to Michionlion, leonardoz15

[2019-05-24 02:41] Michionlion commented on #39
Yes, fully solved using regular expressions.

[2019-05-24 02:41] #39 closed, assigned to gkapfham, Michionlion

[2019-05-26 22:18] Michionlion commented on #45
Yes, this will be one of the tasks I'll work towards!

[2019-05-26 22:22] Michionlion commented on #41
This is probably something we can save for later, but I'll take a look at what it would take as well.

[2019-05-26 22:22] #44 closed, assigned to gkapfham, alexheinle

[2019-05-26 22:23] #30 closed, assigned to nobody

[2019-05-26 22:32] #46 closed, assigned to Michionlion

[2019-05-27 19:54] gkapfham commented on #45
Thanks for agreeing to work on this task, @Michionlion. Let me know if you need help with either development or testing as I am glad to assist!

[2019-05-27 19:55] gkapfham commented on #41
Hi @Michionlion, yeah, I agree that it is probably best to save this for later. One "halfway house" would be to either have this repository or the tool's debugging output point to all of the available sample repositories.

[2019-09-18 12:41] gkapfham opened #56 "Update the docs with the new command-line argument format"
The `README.md` file currently gives an example of a `gatorgrader.yml` file that does not follow the current format that we now use. This documentation should be revised so that it adheres to the new format for the tool. While this may not be a high priority issue, it is certainly an important one to keep on our radar screen. If someone would like to contribute to this tool, this would be a good f

[2019-09-18 12:43] gkapfham commented on #43
I wanted to note that these type of files now exist in the GatorGrader repository available at:

https://github.com/GatorEducator/gatorgrader

Note that since GatorGrader is a Python project some of the content would change. With that said, I don't think that we would need to change the code of conduct and it might be possible to adopt some more general-purpose Java programming guidelines for the

[2019-09-18 12:44] gkapfham commented on #42
Again, briefly I wanted to point out that GatorGrader has this type of documentation now.

https://github.com/GatorEducator/gatorgrader

[2019-09-18 12:45] gkapfham commented on #40
@Lancasterwu can you please let us know if you are still experiencing problems with this issue?

[2019-09-18 12:48] gkapfham opened #57 "Support the expression of task dependencies"
There are several circumstances in which it would be useful to express dependencies between the tasks in a `gatorgrader.yml` file. For instance, a program might write graphics to the file system and thus a check would be whether or not that program runs without error and/or produces the write console output. However, a direct follow-on of this task would involve checking the file system to ensure

[2019-09-18 12:50] gkapfham commented on #43
Oh, @Alex-Yarkosky we could also introduce a standard for commit messages! There is also an example of this inside of the GatorGrader repository.

[2019-09-18 12:50] gkapfham commented on #43
@Alex-Yarkosky do you want to tackle this issue?

[2019-09-19 23:54] Michionlion commented on #57
It's not very possible -- I would suggest adding such a check as a GatorGrader check. If we were to add it to GatorGradle, it would probably be in the form of a multi-command single "check" option, which executed all the checks it contained in sequence.

[2019-09-23 20:10] gkapfham commented on #57
Hi @Michionlion can you give an example of what this might look like in a check? Right now, I'm not sure I understand if you are suggesting a "check" that expresses a dependency or that, overall, checks can express dependencies.

My mental model is that GatorGradle is like a "Makefile" and GatorGrader is like one of the commands that are run in the Makefile. Since you express the dependencies in t

[2019-09-23 20:15] gkapfham opened #58 "Support the execution of "regions" in a configuration file"
As individuals are starting to create configuration files with more checks and as students are running these checks on laptops with widely varying performance, I'm noticing that there might be some value in specifying that only a certain "region" of a `gatorgrader.yml` file be run.

For instance, you might specify that only checks for a certain file or run or that only those checks not bound to a

[2019-09-25 03:07] Michionlion commented on #57
I'm think that you have most of it right -- except that dealing with dependencies that were specified would be difficult, and require implementing some kind of scheduling algorithm to ensure checks were run in the correct order. The alternative I mentioned is simply a way to express a "list of checks" as a single entity, which would run sequentially; there could be multiple of these entities, alon

[2019-09-26 20:20] jjumadinova opened #59 "gradle build is hanging on specific Windows machines"
When students run `gradle grade` on certain Windows machines, the checking is getting stuck (hanging and not completing checks) at the `ExecuteCommand --command "gradle build"` line in the "gatorgrader.yml" file. Without this line in the "gatorgrader.yml" file, the `gradle grade` command is able to complete. This happened in two instances so far (others did not encounter this issue on the same rep

[2019-09-27 22:53] Michionlion commented on #59
What version of Docker is being used (e.g. Docker Desktop, Docker Toolbox)? Is it repeatable in those certain instances on specific hardware, and if so, can you run the following command, and then in the interactive terminal that appears, try to execute `gradle grade` again?

[code]

[2019-10-02 15:37] gkapfham commented on #59
Thanks for asking these questions @Michionlion and thanks for raising the issue @jjumadinova!

@jjumadinova can you clarify whether this occurs when GatorGrader is run in a Docker container or if it is run when an individual has all of the programs installed locally on a laptop?

What happens when this individual runs `gradle build` in their terminal window?

Finally, is there a way that you can t

[2019-10-10 20:23] gkapfham commented on #57
Okay, so, @Michionlion I think that you are suggesting there there be a "list of checks" plugin-in in GatorGrader that then runs all of the specified tasks in a sequential fashion? So, the person creating the `gatorgrader.yml` file will specify a check called `RunSequentialChecks` and then somehow specify all of the checks of which the containing check is comprised?

I'm not sure how to implement

[2019-10-11 23:39] Michionlion commented on #57
Actually, I was suggesting that GatorGradle would be the thing implementing `RunSequentialChecks`, and it would be a part of the parsing of the config file. I think that would probably be simpler, but your interpretation would also work, and likely be useful in other ways -- it may be getting too close to a more complicated GatorGrader interface however.

[2019-10-25 13:58] jjumadinova commented on #59
@Michionlion programs were being run on Docker Desktop. Replication across the exact same hardware is hard to do, all individuals with this issue were using slightly different machines but all are Windows OS machines using Docker Desktop. I am tagging @kailaniwoodard who was one of the students with this issue and she kindly agreed to assist in debugging.

[2019-10-31 17:16] gkapfham commented on #59
Hello @kailaniwoodard thanks for agreeing to help us with the debugging of this issue. If you can reliably reproduce this problem, can you please explain all of the details about your setup (hardware and software, etc.) and then the specific of the assignment on which you were working, that would be very greatly appreciated! Thanks!

[2019-10-31 19:05] kailaniwoodard commented on #59
You're welcome @gkapfham!

The problem occurs when calling the `gradle grade` command with any program. It hangs at the last check where it neither passes nor fails when trying to execute the `gradle build` command.

Terminal Output:
[code]

The process has run as long as 6 hours before timing out and once it does, it says that I failed the check in executing the `gradle build` command. This is pa

[2019-11-04 13:50] jjumadinova commented on #59
Reference lab: https://github.com/allegheny-computer-science-100-01-f2019/lab06-starter
Again, GatorGrader passes all checks on the same lab when run locally on the same machine but hangs on `gradle build` when run on docker. Same issue persists on all labs.

[2019-12-18 00:08] #33 closed, assigned to Michionlion

[2019-12-30 20:15] enpuyou opened #67 "User collected in Travis CI is always travis@example.org"

[2019-12-30 20:15] enpuyou opened #68 "Report task does not run when Grade task fails"
The current version only reports when Grade task is passing, meaning all checks are passed

[2020-01-03 15:45] #68 closed, assigned to enpuyou

[2020-01-13 17:18] #67 closed, assigned to enpuyou

[2020-01-29 03:14] gkapfham commented on #59
Hi @kailaniwoodard an @jjumadinova thanks for updating us about this issue. It is, in fact, possible that this is connected to GatorGrader's Python codebase and may not be related to the Gradle plugin. I'm going to ask @alexheinle to investigate this issue this week and see if we can determine a solution.

[2020-01-29 03:15] gkapfham commented on #59
For reference, @alexheinle, here is the issue inside of the other repository:

https://github.com/GatorEducator/gatorgrader/issues/204

[2021-08-30 01:26] gkapfham opened #73 "Gradle 8.0 will remove functionality of deprecated executor.submit"
Hi @Michionlion! When I use this GatorGradle with Gradle 7.2 I now see the following warning:

[code]
I think that this is due to the fact that this source code:

[code]

exists inside of the `GatorGraderGradeTask.java` file. Is this an easy fix @Michionlion?

As a follow-on, but longer-term question, what do you think about implementing a pure-Python solution for running tasks and then integratin

[2021-08-30 04:02] Michionlion commented on #73
From a quick and cursory look at the [documentation](https://docs.gradle.org/current/javadoc/org/gradle/workers/WorkerExecutor.html), it looks like `executor.submit` can be replaced with `executor.noIsolation().submit`, which should resolve this issue. The `setIsolationMode()` method call would need to be removed as well.

[2021-08-30 04:03] Michionlion commented on #73
Additionally, I do think a pure-python solution would be good! We should think about what method of invocation and dependency management we would use, since we'd also need to replace those parts of GatorGradle.

[2021-09-03 02:04] gkapfham commented on #73
Hi @Michionlion, yes, I agree that we should think more about a pure-Python solution. I have already thought through some trade-offs and I have some ideas for at least one potential design.

[2021-09-03 06:51] Michionlion commented on #73
I do have to say that I was looking at the example repositories we have now, and they make setting up GatorGradle seem very complicated because there is a lot of unneeded configuration. In fact, all that is actually needed for a fully-fledged setup is a `build.gradle` like below, and a `gatorgrader.yml` that just contains whatever checks you want.
[code]

I think that for the near-term future a pu

[2021-09-08 21:58] #23 closed, assigned to Michionlion

[2022-01-20 21:37] mariakimheinert opened #79 "Use a default name"
If you omit the `name` attribute in the front matter of `gatorgrader.yml`, GatorGradle will fail.

[code]

It would be helpful if GatorGradle would instead use a default name when one is not provided, such as the name of the folder that contains the `config` folder. This would be particularly helpful for those who commonly forget to update the `name` attribute when creating new assignments 😬 since

[2022-07-18 21:08] Michionlion commented on #79
This will be solved by [GatorGrade](https://github.com/GatorEducator/gatorgrade), GatorGradle's successor.

[2022-07-18 21:08] #79 closed, assigned to nobody

[2022-07-18 21:11] #15 closed, assigned to Michionlion

[2022-07-18 21:12] #19 closed, assigned to gkapfham, Michionlion

[2022-07-18 21:12] #27 closed, assigned to Michionlion

[2022-07-18 21:13] #42 closed, assigned to gkapfham

[2022-07-18 21:13] #41 closed, assigned to Michionlion

[2022-07-18 21:14] Michionlion commented on #43
Since this project is being put on ice in favor of [GatorGrade](https://github.com/GatorEducator/gatorgrade), this is no longer necessary.

[2022-07-18 21:14] #43 closed, assigned to gkapfham, Alex-Yarkosky

[2022-07-18 21:15] Michionlion commented on #48
As noted above, this is an issue endemic to Gradle itself, and fixes would require changes to a user's `build.gradle` file. As such, no fix is planned for GatorGradle.

[2022-07-18 21:15] #48 closed, assigned to Michionlion

[2022-07-18 21:16] #57 closed, assigned to gkapfham, Michionlion

[2022-07-18 21:16] #58 closed, assigned to nobody

[2022-07-18 21:24] Michionlion commented on #59
This was likely related to the bug fixed by `2874cb4be1cb35f34e7defaa8a885e2e24743a48`; as this entire project is being deprecated in favor of [GatorGrade](https://github.com/GatorEducator/gatorgrade), this issue either has already been fixed, or will not be.

[2022-07-18 21:24] #59 closed, assigned to gkapfham, Michionlion

[2022-07-18 21:26] #73 closed, assigned to nobody

[2022-07-19 19:59] #45 closed, assigned to Michionlion

[2022-07-19 19:59] #20 closed, assigned to Michionlion

[2022-07-19 19:59] #28 closed, assigned to Michionlion

[2022-07-19 19:59] #40 closed, assigned to gkapfham, Lancasterwu

[2022-07-19 19:59] #56 closed, assigned to gkapfham, Michionlion

[2022-07-22 03:52] gkapfham commented on #11
I am going to close this issue as I don't think that it is important to further resolve and/or discuss it.

[2022-07-22 03:52] #11 closed, assigned to gkapfham, Michionlion